.wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 88px;
    width: 480px;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link:hover {
    opacity: 0.8;
}

.link:active {
    color: white;
}
