.ingredients {
    width: 100%;
    max-width: 600px;
}

.list {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 24px;
    margin: 0;
    list-style: none;
}

.ingredients_window {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 720px;
}

.ingredients_window::-webkit-scrollbar {
    width: 8px;
    height: 664px;
    background-color: #2F2F37;
}

.ingredients_window::-webkit-scrollbar-thumb {
    height: 492px;
    background-color: #8585AD;
}

.ingredients_window::-webkit-scrollbar-thumb:hover {
    background-color: #ababdd;
}

.ingredient {
    position: relative;
    box-sizing: border-box;
    transition: all 0.3s;
}
/* этого нет в макете, но я решил, 
что элементы, с которыми пользователь может взаимодействовать,
должны быть обозначенны при наведении */
.ingredient:hover {
    cursor: pointer;
    background-color: #4c4cff16;
    box-shadow: 0 0 10px  #4c4cffbf;
}

.price_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}

