.appHeader {
    margin: 0;
    background-color: #1C1C21;
    width: calc(100% - 80px);
    height: 88px;
    margin: 40px 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style-type: none;

    background-color: #fff;

}